.title {
    text-align: center;
}
 /* .form-container {
    margin-left: 20px;
    margin-right: 20px;
}   */

  .form-agregar-tareas {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 20px;
    font-size: 20px;
}  

/* .form-agregar-tarea {
    margin-left: 100px;
    margin-right: 100px;
} */

label {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
border-radius: 5px;
}

.container-fluid {
    display: flex;
          justify-content: center;
          align-items: center;
}

.btn-agregar-tarea {
    display: flex;
    justify-content: center;
}